body
{
	border-top: 8px solid #a02164;
	background: #f6f6f6;
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 5pt;
	font-family: 'Varela Round', sans-serif;
}

.little{
	font-size: 0.7em !important;
	color: #555;
}

.euro{
	font-size: 1em !important;
	color: #a02164;
}

img{ border: 0; }

input, select, textarea{
	border: 1px solid #ccc;
	margin: 1% 0 4% 0;
	font-size: 1em;
}

input[type=button]{
	background: #a02164;
    border: 1px solid #454545;
    text-shadow: 1px 1px 0 #444;
    font-size: 0.9em;
    letter-spacing: 0.02em;
	color: white;
	cursor: pointer;
	padding: 1% 2%;
}

input.error{
	border: 1px solid red;
}

#page{
	width: 100%;
	max-width: 1280px;
	min-width: 320px;
	padding: 0;
	margin: 0 auto 4% auto;
}

#content{
	width: 95%;		/* 1216px / 1280px */
	margin: 0 auto;
}

#content .breadcrumbs{ 
	width: 98%;
	font-size: 0.9em;
	margin: 4% auto 0 auto; 
}

#content .breadcrumbs a{ color: #A02164; }

#content .breadcrumbs span{ color: #666; }

#content .leftbar{
	width: 23.4375%;		/* 240px / 1024px */
	float: left;
}

#content .leftbar img.logo{
	width: 100%;
}

#content .leftbar h1{
	font-size: 1.4em;
	letter-spacing: 0.01em;
	margin: 15% 0 2% 0;
	color: #a02164;
	border-bottom: 1px solid #e4b2cc;
	padding-bottom: 1%;
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

#content .leftbar ul{
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

#content .leftbar ul li{
	font-size: 1em;
	line-height: 1.3em;
	margin: 10% 4%;
}

#content .leftbar ul li a{
	color: #333;
	text-decoration: none;
}

#content .loader {
	width: 72.265625%;	/* 740px / 1024px */
	text-align: center;
	margin-top: 5%;
	float: right;
}

#content .loader img{ width: 15%; }
	

#content .home{
	width: 72.265625%;	/* 740px / 1024px */
	float: right;
}

#content .home #sections{ width: 100%; }

#content .home #sections .section {
	position: relative;
	width: 49%;
	float: right;
	margin-bottom: 2%;
}

#content .home #sections .left { float: left; }

#content .home #sections .section img { width: 100%; }

#content #contentSlider{
	width: 92%;
	border: 1px solid #e5e5e5;
	border-radius: 7px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow:  0 0 5px 4px #efefef;
	-webkit-box-shadow:  0 0 5px 4px #efefef;
	box-shadow:  0 0 5px 4px #efefef;
	background: white;
	padding: 0% 4% 2% 4%;
	margin: 2% auto;
}

#content #contentSliderHome{
	width: 100%;
	margin: 2% auto;
}

#content #productData{
	width: 92%;
	border: 1px solid #e5e5e5;
	border-radius: 7px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow:  0 0 5px 4px #efefef;
	-webkit-box-shadow:  0 0 5px 4px #efefef;
	box-shadow:  0 0 5px 4px #efefef;
	background: white;
	padding: 3% 4% 2% 4%;
	margin: 2% 0 0 0;
}

#content #productData h1{
	font-size: 1.4em;
	color: #A02164;
	margin: 0 0 2% 0;
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
}

#content #productData p{
	font-size: 0.9em;
	line-height: 1.5em;
	letter-spacing: 0.04em;
	text-align: justify;
	color: #333;
	margin: 0 0 4% 0;
}

#content #productData .price{
	width: 35%;
	float: left;
}

#content #productData .price span{
	font-size: 1.8em;
	line-height: 1.5em;
}

#content #productData .buttons{
	float: right;
}

#content #productData .button{
	position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em 0.4em 1em;
    border: 1px solid #454545;
    margin: 1% 0 6% 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #444;
    font-size: 0.9em;
    letter-spacing: 0.02em;
    color: white;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #a02164;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

#content #productData .productPhoto{
	width: 36%;
	margin-right: 4%;
	float: left;
}

#content #productData .productText{
	width: 60%;
	float: left;
}

#content #productData .productPrice p{ text-align: center; }

#content .orderSummary p, #content .orderSummary label {
	color: #A02164 !important;
	margin: 1% 0;
}

#content .help{
	background: url("../images/icoHelp.png") no-repeat;
	background-position: top right;
	background-size: auto 85%;
	padding-right: 1.5em;
	cursor: help;
}

.ui-tooltip
{
    font-size: 0.8em !important;
}

#content .orderSummary span{
	color: #333;
}

#content .home #products{ 
	width: 100%; 
	margin: 2% auto;
}

#content .home #products .product {
	position: relative;
	width: 49%;
	border: 1px solid #cacaca;
	float: right;
	margin-bottom: 2%;
}

#content .home #products .product .spinner {
	position: absolute;
	left: 49%;
	top: 49%;
	z-index: 1;
}

#content .home #products .product a {
	margin: 0;
	padding-bottom: 0;
	float: left;
}

#content .home #products .left { float: left; }

#content .home #products .product img { width: 100%; }








#content .home #otherProducts{ 
	width: 100%; 
	margin: 4% auto;
}

#content .home #otherProducts h1{ 
	font-size: 1.2em;
	color: #A02164;
	margin: 2% 0;
	text-shadow: rgba(255,255,255,0.5) 0px 3px 3px; 
}

#content .home #otherProducts .product {
	position: relative;
	width: 30%;
	border: 1px solid #cacaca;
	float: right;
	margin: 2% 1.5%;
}

#content .home #otherProducts .product #caption {
	font-size: 0.7em;
}

#content .home #otherProducts .product a {
	margin: 0;
	padding-bottom: 0;
	float: left;
}

#content .home #otherProducts .left { float: left; }

#content .home #otherProducts .product img { width: 100%; }









#content #addUnit{
	cursor: pointer;
	font-size: 1.4em;
	font-weight: bold;
	color: #A02164;
}

#content #quitUnit{
	cursor: pointer;
	font-size: 1.8em;
	font-weight: bold;
	color: #A02164;
}

#footer{
	width: 100%;
	background: #333;
	border-top: 1px solid #eee;
	-moz-box-shadow:  0 0 5px 4px #c1c1c1;
	-webkit-box-shadow:  0 0 5px 4px #c1c1c1;
	box-shadow:  0 0 10px 1px #666;
	color: white;
	margin: 0;
	bottom: 0;
	position: fixed;
	z-index: 99;
}

#footer p {
	font-size: 0.7em;
	margin: 0;
	padding: 0.5% 2%;
}

#footer a { color: white; }




/* Mobile, tablet 640px */
@media only screen and (min-width: 640px) {	
	body{ font-size: 7.5pt; }
	
	#content{ width: 85%; }
}

@media only screen and (min-width: 768px) {	
	body{ font-size: 9pt; }
	#content .loader img{ width: 7%; }	
}

@media only screen and (min-width: 1000px) {
	body{ font-size: 10pt; }
}

@media only screen and (min-width: 1140px) {
	body{ font-size:12pt; }
	
	#content{ width: 75%; }
	
	#content .leftbar{
		width: 25;
		float: left;
	}
	
	#content .home{
		width: 70%;
		float: right;
	}
}

@media only screen and (min-width: 1224px) {
	
}







/*
** Special styles for plugins and 3rd party extensions **
*/

/* FlexSlider
*********************************
*********************************/

/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; text-align: center!important;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {max-width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 3% 0 2% 0; position: relative; zoom: 1;}
.flex-viewport { }
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 30px; height: 30px; margin: 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; bottom: 2%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 1;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 15px; }
.flex-direction-nav .flex-prev {right: 46px;}
.flexslider:hover .flex-next {right: 15px;}
.flexslider:hover .flex-prev {right: 46px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center; }
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.1); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 12.5%; float: left; margin: 0; text-align: center;}
.flex-control-thumbs img {max-width: 98%; display: block; opacity: .5; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


#contentSlider .flex-viewport { width: 87%; margin-right: 2%; float:left; }

#contentSlider .flex-control-nav {width: 10%; float: right; text-align: center; }

#contentSlider .flex-control-thumbs li {width: 100%; margin: 0 0 3% 0;}

#caption{
	font-size: 0.9em;
	width: 98%;
	background: url("../images/bckCaption.png");
	position: absolute;
	left: 1%;
	bottom:2%;
	z-index: 9;
}

#caption a{
	color: white;
	text-decoration: none;
	margin-right: 2%;
	margin-top: 0.3%;
	padding: 0.8% 2%;
	float: left;
}

#caption a.clear{
	clear: both;
}

#caption #slideBuy{
	background: #333;
	padding: 3% 15%;
}

.product #caption, .section #caption{ bottom: 4%; }

@media screen and (max-width: 860px) {
  .flex-direction-nav a {bottom: 1%; }
  .flex-direction-nav .flex-prev {opacity: 1; width: 15px; height: 15px; background: url(../images/bg_direction_nav_mobile.png) no-repeat 0 0;}
  .flex-direction-nav .flex-next {opacity: 1; width: 15px; height: 15px; background: url(../images/bg_direction_nav_mobile.png) no-repeat 0 0;}
  .flex-direction-nav .flex-next {background-position: 100% 0; right: 10px; }
  .flex-direction-nav .flex-prev {right: 26px;}
  .flexslider:hover .flex-prev {right: 26px;}
}



/* Social share
*********************************
*********************************/

.social-provider-icon {
    background-image: url("../images/icons.png") !important;
    height: 16px !important;
    margin-right: 12% !important;
    margin-left: 0 !important;
    width: 16px !important;
}

.social-provider-icon.twitter {
	background-position: 0 0px !important;
}
.social-provider-icon.google {
	background-position: 0 -16px !important;
}
.social-provider-icon.facebook {
	background-position: 0 -32px !important;
}

@media only screen and (min-width: 768px) {	
	.social-provider-icon {
	    background-image: url("../images/icons_768.png") !important;
	    width: 24px !important;
	    height: 24px !important;
	}
	
	.social-provider-icon.twitter {
		background-position: 0 0px !important;
	}
	.social-provider-icon.google {
		background-position: 0 -24px !important;
	}
	.social-provider-icon.facebook {
		background-position: 0 -48px !important;
	}
}

@media only screen and (min-width: 1000px) {	
	.social-provider-icon {
	    background-image: url("../images/icons_1000.png") !important;
	    width: 32px !important;
	    height: 32px !important;
	    margin-right: 6% !important;
	}
	
	.social-provider-icon.twitter {
		background-position: 0 0px !important;
	}
	.social-provider-icon.google {
		background-position: 0 -32px !important;
	}
	.social-provider-icon.facebook {
		background-position: 0 -64px !important;
	}

}

@media all and (-webkit-min-device-pixel-ratio: 1.5) {
	.social-provider-icon {
    	background-image: url("../images/icons@2x.png") !important;
    	background-size: 100%;
    }
}